ul#menu { list-style-type: none; margin: 10px; 
         }
         ul#menu li {background-color: #0000ff; padding: 15px; 
               margin-left: 0; margin-bottom: 2px; 
               width:100px; 
         }
         ul#menu li a  {
               text-decoration: none; color: #fff; 
               display:block; 
         }  
#menu li:hover {
             background-color: #ff0000; 
             margin-left: 20px; 
        }
        
#menu li:focus {       
background-color: #00ff00;   }   
#menu li:active {      
background-color: #ff00ff;  }
#menu li {
                       display: inline-block;
                }
                #menu li:hover {
                      margin-left: 0; 
                }
