

@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Kanit:wght@100&family=Montserrat:ital,wght@0,100;0,800;1,400;1,600;1,700&family=Roboto:wght@100&family=Work+Sans:ital,wght@0,300;1,100;1,200;1,300;1,500&display=swap');

html  { 
    scroll-behavior: smooth; 
}

:target {
    scroll-margin-top: 50px;         
} 
html, body {
    font-family:'Castoro', serif;
    font-size: 16px;
    background-color:white;
    min-height: 100vh;       
}
div{
	
	display:inline-block;
}
#boxess{
	width:590px;
	height:300px;
}
#boxess2{
	width:500px;
	height:400px;
 }
 div#videos1,#videos2{
	 margin:4px;
	 padding:0px;
 }
#videos1{
	width:646px;
	height:300px;
 }
#videos2{
	width:590px;
	height:300px;
}

/* RESET BÁSICO */
body, header, nav, section, article, aside, footer, 
ul, figure, h1, h2, h3 {
    display: block; 
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}
figure img,figure iframe {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 400%;
    color:#ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
h2,h3 {
	font-size:125%;
	font-weight: bold;
    padding-bottom: regular;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 10px;

}
h3,p{
	 padding: 0 3% 30px 3%;
}
header {
    padding: 100px;
    background-color: orange;   
    background-image: url(../imagens/vulcao.jpg);  
    background-repeat: no-repeat;  
    background-size: cover;        
    background-position:0% 25%;    
}
header img#logo {
    opacity: .80;                          
    border-radius: 50px;
    box-shadow: 1px 2px 10px 8px black;   
    width: 140px;
    display: flex;
    margin: 0 auto;
}
main#container {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
article {
    padding: 0 3% 30px 3%;
}
/* Fotos */
div#fotos {
    display: flex;            
    flex-direction: row;   
    flex-wrap: nowrap;        
    justify-content: flex;  	                          
	align-content: stretch;   	                          
    margin-bottom: 5px;
	flex-basis: 200px;   
	flex-grow: 1;        
	                  
	flex-shrink: 1;      
	width:100%;
}


/* MENU DE NAVEGAÇÃO */

nav#menu {
    background-color:#ff9933;
    position: sticky;        
    top: 0;
    z-index: 9;              
}

nav#menu span.menu_icon {    
   display: block;
   height: 50px;
   background-image: url('../imagens/burger.jpg');
   background-repeat: no-repeat;
   background-size: 50px 50px;
   background-position: center;
   background-color: red;
   cursor: pointer;  
} 

nav#menu ul {                       
   list-style: none;       
   display: none;          
}
nav#menu:hover ul,
nav#menu:focus ul,
nav#menu:active ul {        
   display: block;          
} 
nav#menu li a {
    display: block;         
    text-decoration: none;  
    color: #262626; 
    font-weight: 600;
	padding: 14px;
}
nav#menu li:hover, nav li:focus, nav li:active {  
    background-color: red;
    
    transition: background .5s;  
}


/* Rodapé */
footer {
    padding: 10px 2%;
    background-color: #ff9933;    
    color: #fff; 
}
footer address {
    text-align: center;
}

/* ******* RESPONSIVO ******* */ 
@media screen and (max-width: 450px){
    div#fotos figure {       
		max-width: 70%;           
		margin: 0 auto;     
    }  
}   

@media screen and (min-width: 450px){
    div#fotos {        
        flex-direction: row;   
        align-content: center;
    }
}
@media screen and (min-width: 700px) { 	
    nav#menu span.menu_icon {         
        display: none;         
    }       
    nav#menu ul,
    nav#menu:hover ul,
    nav#menu:focus ul,
    nav#menu:active ul {       
        display: flex;          
        justify-content: center;    
    }  
}
@media screen and (min-width: 1200px){
    main#container {              
        display: flex;
    }
	div#fotos figure {
		flex-basis: 33%;      
	}

}
@media screen and (min-width: 1700px){
    header {    
        background-image: url('../imagens/imagem6.jpg'), url('../imagens/imagem6.jpg');
        background-repeat: no-repeat, no-repeat;
        background-size: 1400px, cover;
        background-position: center, center;
        background-color: saddlebrown;        
        background-blend-mode: normal, screen;  
 
    }
}
@media screen and (max-width: 1000px){
	div#boxess2, div#boxess,div#videos, div#videos1{
		flex-direction:column;
		 width: 80%;
        padding-top: 25px;
        padding-left: 1%;
        padding-right: 1%;
	}
}