/* NOSSO SITE - ILP540 */

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

html  { 
    scroll-behavior: smooth; 
}
/* :target (alvo) - Se usar position 'sticky' no menu de navegação/cabeçalho, incluir scroll-margem-top para que o conteúdo das âncoras internas, ao ser posicionado no topo da janela, saia de trás do menu/cabeçalho. Usar como valor a altura do bloco definido como 'sticky' (menu/cabeçalho). */ 
:target {
    /* Usar um valor de unidade absoluta! (px, pt, cm...). */ 
    scroll-margin-top: 50px;         
} 
html, body {
    font-family:'monospace',DejaVu Sans Mono, monospace;
    font-size: 16px;
    background-color:white;
    /* vh = viewport height | 1vh => 1% da viewport (valor de unidade relativa). */
    min-height: 100vh;       
}
div{
	
	display:inline-block;
}
#boxess{
	width:50%;
	height:400px;
}
#boxess2{
	width:500px;
	height:400px;
 }
 div#videos1,#videos2{
	 margin:4px;
	 padding:0px;
 }
#videos1{
	width:646px;
	height:300px;
 }
#videos2{
	width:590px;
	height:300px;
}

/* RESET BÁSICO */
body, header, nav, section, article, aside, footer, 
ul, figure, h1, h2, h3 {
    display: block; 
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}
figure img,figure iframe {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 400%;
    color:#ffffff;
    text-align: center;
    font-family: 'monospace',DejaVu Sans Mono, monospace;
}
h2 {
    padding-bottom: 20px;
	font-family: 'monospace',DejaVu Sans Mono, monospace;
}
h3 {
	font-size:125%;
	font-weight: bold;
    padding-bottom: 10px;
	font-family: 'monospace',DejaVu Sans Mono, monospace;
}
h4{
	font-size:125%;
	font-weight: bold;
	text-align:center;
	font-family: 'monospace',DejaVu Sans Mono, monospace;
}
h5{
		font-size:125%;
	font-weight: bold;
	text-align:center;
	font-family: 'monospace',DejaVu Sans Mono, monospace;
}
header {
    padding: 100px;
    background-color: orange;
    /* Vide pathname... */
    background-image: url(./imagens/vulcao.jpg);  
    background-repeat: no-repeat;  /* repeat, repeat-x, repeat-y */
    background-size: cover;        /* contain, valor %, px... */
    background-position:0% 25%;    /* posição x, y (valores em: %, px... ou top, right, bottom, left, center */
}
header img#logo {
    /* Opacidade: de 0 (transparente) até 1 (opaco). */
    opacity: .57;                          
    border-radius: 50px;
    /* Sombra - deslocamento x, y, largura, blur (borrão), cor */
    box-shadow: 1px 2px 10px 8px orange;   
    width: 140px;
    display: block;
    margin: 0 auto;
    /* Ou, com a imagem posicionada através de camada (layer): */
    /* position: absolute; top: 20px; right: 40px;  */ 
    /* Sendo 'position': absolute, relative, static, sticky ou fixed. */
    /* Posicionamento da camada a partir das 'coordenadas': top, right, bottom, left */
}
main#container {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
article {
    padding: 0 3% 30px 3%;
}
/* Fotos */
div#fotos {
    display: flex;            /* box 'pai' com 'filhos' flexíveis. */
    flex-direction: row;   /* row, column, row-reverse, column-reverse */
    flex-wrap: nowrap;        /* wrap, nowrap */
    justify-content: flex;  /* Alinhamento no eixo principal: */
	                          /* space-between, space-around, space-evenly,
                                center, flex-start, flex-end */
	align-content: stretch;   /* Alinhamento no eixo secundário (perpendicular): */
	                          /* stretch, center, flex-start, flex-end */
    margin-bottom: 5px;
	flex-basis: 200px;   /* Tamanho básico: auto, none, px, % */
	flex-grow: 1;        /* 0 - não aumenta; 1 - permite aumentar... */
	                  /* 2 - aumenta até duas vezes mais que os outros elementos. */
	flex-shrink: 1;      /* 0 - não encolhe; 1 - encolhe; 2 - econlhe duas vezes mais... */ 
	width:100%;
}
/* Vídeos */

/* MENU DE NAVEGAÇÃO */

nav#menu {
    background-color:#ff9933;
    position: sticky;        /* Trava 'nav#menu' quando chegar na posição: top = 0 (zero). */
    top: 0;
    z-index: 9;              /* Sobreposição da camada 'nav#menu' no eixo 'z' (é a nona camada). */
}
nav#menu span.menu_icon {    
   display: none;
   height: 50px;
   background-image: url('../imagens/icone_vulcao.png');
   background-repeat: no-repeat;
   background-size: 50px 50px;
   background-position: center;
   background-color: #222;
   cursor: pointer;  
}    

nav#menu ul {                       
   list-style: none;        /* 'none'- oculta/omite os marcadores dos itens da lista. */
   display: none;           /* 'none' - oculta o Menu de Navegação e libera o espaço... */
}
nav#menu:hover ul,
nav#menu:focus ul,
nav#menu:active ul {        /* Quando passar/clicar com o ponteiro do mouse sobre 'nav#menu'... */
   display: block;          /* Exibe a lista (coluna), (ou, display: flex; flex-direction: column;) */ 
} 
nav#menu li a {
    display: block;         /* Altera o elemento 'a' (link) de inline para block (largura 100%). */
    text-decoration: none;  /* 'none' - omite o sublinhado padrão do link. */
    color: #262626; 
    font-weight: 600;
	padding: 14px;
}
nav#menu li:hover, nav li:focus, nav li:active {  /* Atenção: Usar as pseudo-classes nesta ordem! */
    background-color: rgb(162, 100, 67);
    /* Tempo de transição (duração da mudança) de cor do background: 1 segundo e meio. */
    transition: background 1.5s;  
}

/* Rodapé */
footer {
    padding: 10px 2%;
    background-color: #ff9933;    
    color: #fff; 
}
footer address {
    text-align: center;
}

/* ******* RESPONSIVO ******* */ 

/* ATENÇÃO: Incluir a tag <meta name="viewport"... /> no cabeçalho do documento HTML! ***/

/* Seleciona dispositivos do tipo "screen", com 'viewport' de, no máximo, 449px de largura. */

@media screen and (max-width: 450px){
    div#fotos figure {
        /* Largura máxima da 'figure' dentro de 'div#fotos'. */
		max-width: 70%;    
        /* Centraliza 'figure' dentro da 'div#fotos'. */
		margin: 0 auto;     
    }  
}   
/* Largura da 'viewport' a partir de 450px de largura, no mínimo. */
@media screen and (min-width: 450px){
    div#fotos {
        /* Altera 'div#fotos' de 'column' para row (linha) e centraliza conteúdo. */
        flex-direction: row;   
        align-content: center;
    }
}
@media screen and (min-width: 700px) { 	
    nav#menu span.menu_icon {  
        /* 'none' - oculta o botão "burger" do 'Menu de Navegação'. */ 
        display: none;         
    }       
    nav#menu ul,
    nav#menu:hover ul,
    nav#menu:focus ul,
    nav#menu:active ul {
        /* Altera o Menu de Navegação para Horizontal, default = 'row'. */ 
        display: flex;          
        justify-content: center;    
    }  
}
@media screen and (min-width: 1200px){
    main#container {         
        /* Altera 'main' para Horizontal, default = 'row'. */
        display: flex;
    }
	div#fotos figure {
        /* Tamanho básico (largura) de cada figure dentro de 'div#fotos'. */
		flex-basis: 33%;      
	}

}
@media screen and (min-width: 1700px){
    header {
        /* Inclui uma segunda imagem de background (1),(2). */
        background-image: url('../imagens/imagem6.jpg'), url('../imagens/imagem6.jpg');
        background-repeat: no-repeat, no-repeat;
        background-size: 1400px, cover;
        background-position: center, center;
        background-color: saddlebrown; 
        /* 'blend' (mistura) - Mistura a cor (background) com a imagem (background). */
        background-blend-mode: normal, screen;  
        /* Valores: normal, color, color-burn, color-dodge, darken, lighten, luminosity, 
        difference, exclusion, screen... 
        Verifique no responsivo (à partir de 1700px), ou diminua o zoom da página. */
    }
}
